/*THEME SPECIFIC STYLE SETTINGS*/


/*#light{*/
/*    --body-bg-clr: #1F2544;*/
/*    --prim-txt-clr: #474F7A;*/
/*    --sec-txt-clr: #776B5D;*/
/*    --hdg-clr: #99BC85;*/
/*    --hdr-bg-clr: #f4f4f4;*/
/*    --theme-icon-clr: #111827;*/
/*    --theme-icon-hover-bg-clr: #111827;*/
/*    --theme-icon-hover-clr: #fff;*/
/*    --button-hover-clr: #F1F5A8;*/
/*    --button-bg-clr: #B2B377;*/
/*}*/

/*#light {*/
/*    --body-bg-clr: #C5C1C0;*/
/*    --prim-txt-clr: #0A1612;*/
/*    --sec-txt-clr: #1A2930;*/
/*    --third-txt-clr: #F4DECB;*/

/*    --header-bg-clr: #F7CE3E;*/
/*    --header-clr: #212121;*/

/*    --button-hover-clr: #0E0B16;*/
/*    --button-bg-clr: #F2F1EB;*/

/*    --fa-icon-clr: #6B7A8F;*/
/*    --fa-icon-hover-clr: #FF3B3F;*/

/*    --complimentary-clr: #F2F1EB;*/

/*    --highlighter-clr-1: 0, 205, 255;*/
/*    --highlighter-clr-2: 255, 59, 63;*/
/*    --highlighter-clr-3: 140, 255, 50;*/
/*    --highlighter-clr-4: 253, 255, 50;*/
/*}*/

#modern {
    --body-bg-clr: #C5C1C0;
    --prim-txt-clr: #0A1612;
    --sec-txt-clr: #1A2930;
    --third-txt-clr: #F4DECB;

    --header-bg-clr: #F7CE3E;
    --header-clr: #212121;

    --button-hover-clr: #0E0B16;
    --button-bg-clr: #F2F1EB;

    --fa-icon-clr: #f5f5f5;
    --fa-icon-hover-clr: #FF3B3F;

    --complimentary-clr: #F2F1EB;

    --highlighter-clr-1: 0, 205, 255;
    --highlighter-clr-2: 255, 59, 63;
    --highlighter-clr-3: 140, 255, 50;
    --highlighter-clr-4: 253, 255, 50;
    --highlighter-clr-5: 195, 187, 236;
}

#warm {
    --body-bg-clr: #D7CEC7;
    --prim-txt-clr: #565656;
    --sec-txt-clr: #76323F;
    --third-txt-clr: #C09F80;

    --header-bg-clr: #262228;
    --header-clr: #F2F1EB;

    --button-hover-clr: #0E0B16;
    --button-bg-clr: #F2F1EB;

    --fa-icon-clr: #E9C893;
    --fa-icon-hover-clr: #FF3B3F;

    --complimentary-clr: #F2F1EB;

    --highlighter-clr-1: 0, 205, 255;
    --highlighter-clr-2: 255, 59, 63;
    --highlighter-clr-3: 140, 255, 50;
    --highlighter-clr-4: 253, 255, 50;
    --highlighter-clr-5: 195, 187, 236;
}

#clean {
    --body-bg-clr: #EFEFEF;
    --prim-txt-clr: #212121;
    --sec-txt-clr: #A9A9A9;
    --third-txt-clr: #F2F1EB;

    --header-bg-clr: #212121;
    --header-clr: #EFEFEF;

    --button-hover-clr: #212121;
    --button-bg-clr: #A9A9A9;

    --fa-icon-clr: #EFEFEF;
    --fa-icon-hover-clr: #FF3B3F;

    --complimentary-clr: #CAEBF2;

    --highlighter-clr-1: 202, 235, 242;
    --highlighter-clr-2: 255, 59, 63;
    --highlighter-clr-3: 140, 255, 50;
    --highlighter-clr-4: 253, 255, 50;
    --highlighter-clr-5: 195, 187, 236;
}

#dark {
    --body-bg-clr: #0D1B2A;
    --prim-txt-clr: #388E3C;
    --sec-txt-clr: #FFA726;
    --button-bg-clr: #263238;
    --hdg-clr: #f4f4f4;
    --theme-icon-clr: #fff;
    --theme-icon-hover-bg-clr: #fff;
    --theme-icon-hover-clr: #111827;
    --link-hover-bg-clr: #fff;
    --button-hover-clr: #fff;
}