/*THEME SPECIFIC STYLE SETTINGS*/


/*#light{*/
/*    --body-bg-clr: #1F2544;*/
/*    --prim-txt-clr: #474F7A;*/
/*    --sec-txt-clr: #776B5D;*/
/*    --hdg-clr: #99BC85;*/
/*    --hdr-bg-clr: #f4f4f4;*/
/*    --theme-icon-clr: #111827;*/
/*    --theme-icon-hover-bg-clr: #111827;*/
/*    --theme-icon-hover-clr: #fff;*/
/*    --button-hover-clr: #F1F5A8;*/
/*    --button-bg-clr: #B2B377;*/
/*}*/

#light{
    --body-bg-clr: #EFEFEF;
    --prim-txt-clr: #212121;
    --sec-txt-clr: #A9A9A9;
    --third-txt-clr: #F2F1EB;

    --header-bg-clr: #212121;
    --header-clr: #EFEFEF;

    --button-hover-clr: #212121;
    --button-bg-clr: #A9A9A9;

    --fa-icon-clr: #EFEFEF;
    --fa-icon-hover-clr: #FF3B3F;

    --complimentary-clr: #CAEBF2;
}

#clean-light{
    --body-bg-clr: #EFEFEF;
    --prim-txt-clr: #212121;
    --sec-txt-clr: #A9A9A9;

    --header-bg-clr: #212121;
    --header-clr: #EFEFEF;

    --button-hover-clr: #212121;
    --button-bg-clr: #A9A9A9;

    --fa-icon-clr: #EFEFEF;
    --fa-icon-hover-clr: #F3FDE8;

    --complimentary-clr: #CAEBF2;
}

#dark{
    --body-bg-clr: #0D1B2A;
    --prim-txt-clr: #388E3C;
    --sec-txt-clr: #FFA726;
    --button-bg-clr: #263238;
    --hdg-clr: #f4f4f4;
    --theme-icon-clr: #fff;
    --theme-icon-hover-bg-clr: #fff;
    --theme-icon-hover-clr: #111827;
    --link-hover-bg-clr: #fff;
    --button-hover-clr: #fff;
}