@import url('https://fonts.cdnfonts.com/css/gotham-6');

*, *::after, *::before{
    box-sizing: border-box;
}

html, body, #root, .App-component{
    background-color: #d1ccc0;
}

body{
    margin: 0;
    font-family: 'Gotham', sans-serif;
}

img{
    width: 100%;
}


a{
    text-decoration: inherit;
    color: inherit;
    display: block;
}


ol, ul{
    margin: 0;
    padding: 0;
}

.App-component{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    position: relative;
    isolation: isolate;
    overflow-x: hidden;
}

.App-component .bottom{
    z-index: -1;
    opacity: 0.5;
}

.App-component .bottom svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 200px;
    overflow-x: hidden;
}

header{
    flex-basis: 5%;
}

.Page-component{
    flex-basis: 95%;
}

@media(max-width: 520px){

    .App-component{
        flex-direction: column;
    }
    
    header{
        flex-basis: 5%;
    }

    .Page-component{
        flex-basis: 95%;
    }

}

.path-1{
    animation: wave-1 5s infinite linear;
    transform-origin: bottom;
}

@keyframes wave-1{
    from{
        transform: translateX(0) scale(1);
    }

    50%{
        transform: translateX(5px) scale(1.125);
    }
    to{
        transform: translateX(0) scale(1);
    }
}

.path-2{
    animation: wave-2 5s infinite linear;
    transform-origin: left;
}

@keyframes wave-2{
    from{
        transform: scale(1) translateY(0); 
    }

    50%{
        transform: scale(0.95) translateY(-5px);
    }

    to{
        transform: scale(1) translateY(0); 
    }
}

.path-3{
    animation: wave-3 3s infinite linear;
    transform-origin: right;
}

@keyframes wave-3{
    from{
        transform: scale(1) translateX(0); 
    }

    50%{
        transform: translateX(-5px);
    }

    to{
        transform: scale(1) translateX(0); 
    }
}

.path-4{
    animation: wave-4 5s infinite linear;
    transform-origin: left;
}

@keyframes wave-4{
    from{
        transform: scale(1) translateX(0); 
    }

    50%{
        transform: scale(0.75) translateX(-5px);
    }

    to{
        transform: scale(1) translateX(0); 
    }
}