.Home-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    background-color: #d1ccc0;
}

.Moving-box{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a2a01;
    padding: 4rem;
    border: 1px solid #b33939;;
    font-size: 2rem;
    position: relative;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.Moving-box .Box-content{
    animation-name: counter-spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    text-align: center;
}

.Moving-box::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #b33939;;
    border-radius: 100%;
    position: absolute;
    top: -5px;
}

@keyframes counter-spin{
    from{
        rotate: 360deg;
    }

    to{
        rotate: 0deg;
    }
}

@keyframes spin{
    from{
        rotate: 0;
    }

    to{
        rotate: 360deg;
    }
}


.Triangle{
    border-left: calc(2 * 20px * 0.866) solid #b33939;;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    scale: 5;
    
    display: inline-block;
    cursor: pointer;
}