.Home-section{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
}


.Home-element.Left{
    grid-column: 1 / 2;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 1rem;
}

.Home-element.Left h1{
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #ff793f;
    color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10% 10% 25% 10%;
    
}

.Color-barrier{
    grid-column: 2 / 3;
    background-image: linear-gradient(rgb(112, 68, 68), #b33939, #ff793f);
    background-size: 400% 400%;
    animation: bganim 5s linear infinite;
    box-shadow: 12px 0px 15px -4px white, -12px 0 15px -4px white;
}

@keyframes bganim{
    from, to{
        background-position: 0 0;
    }

    25%{
        background-position: 50% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    75%{
        background-position: 100% 100%;
    }
    
}

.Home-element.Right{
    grid-column: 3 / -1;
    
}

@media(max-width: 1000px){
    .Home-section{
        grid-template-rows: 1fr 25px 1fr;
        grid-template-columns: 1fr;
    }

    .Home-element.Left{
        grid-column: span 1;
        grid-row: 1 / 2;
    }

    .Home-element.Right{
        grid-column: span 1;
        grid-row: 3 / -1;
    }

    .Color-barrier{
        grid-column: span 1;
        grid-row: 2 / 3;
    }
}



/* .Moving-box::before{
    content: '';
    width: 350px;
    height: 350px;
    position: absolute;
    border-width: 15px;
    border-radius: 50%;
    border: clamp(5px, 1.5vw + 1rem, 30px) solid transparent; 
    background: linear-gradient(45deg,#b33939,#ff793f) border-box; 
    mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
    mask-composite: exclude;

    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    z-index: 1;
} */


/* @keyframes counter-spin{
    from{
        rotate: 360deg;
    }

    to{
        rotate: 0deg;
    }
}

@keyframes spin{
    0%{
        rotate: 0;
        scale: 1;
    }

    50%{
        rotate: 180deg;
        scale: 1.2;
    }

    100%{
        rotate: 360deg;
        scale: 1;
    }
} */


/* .Triangle{
    border-left: calc(2 * 20px * 0.866) solid #b33939;;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    scale: 0;
    
    display: inline-block;
    cursor: pointer;
} */