header{
    padding: 0 2.5rem;

    display: flex;
    flex-direction: column;

    row-gap: 1rem;

    background-color: var(--header-bg-clr);
    color: var(--header-clr);

    width: 20vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;

    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

@media(max-width: 768px){
    header{
        width: 100vw;
        inset: 0;
    }
}

.Close-header-button{
    position: fixed;
    right: 0;
    top: 0;
}

.Header-active{
    transform: translateX(0);
    opacity: 1;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

header h1{
    letter-spacing: 2px;
    font-variant: small-caps;
    text-align: center;
}


header nav ul{
    display: flex;
    text-align: center;
    flex-direction: column;

    list-style-type: none;
    gap: 1rem;
}

header nav a{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 4px;

    background-image: linear-gradient(var(--button-bg-clr), var(--button-bg-clr));
    background-size: 0 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: background-size var(--nav-link-trans-speed), color .5s;

    --nav-link-trans-speed: .5s;


    font-variant: small-caps;
}

header nav a:hover{
    background-size: 100% 100%;
    color: var(--button-hover-clr);
    background-position: left;
}

a.Link-item--active{
    text-decoration: underline;
}

