/*GLOBAL RESETTING AND BASIC STYLES*/

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after, *::before {
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700!important;
}

html, body, #root, .App{
    height: 100%;
}

body{
    --body-width: 1700px;

    max-width: var(--body-width);
    margin: 0 auto;

    background-color: var(--body-bg-clr);
}

main{
    padding: 2.5rem 2rem;
}

.App{
    min-height: 100vh;
    min-height: 100svh;


    color: var(--prim-txt-clr);
}

.Section--title{
    --section-title-size: 2rem;
    font-size: var(--section-title-size);
    border-bottom: 1px solid var(--sec-txt-clr);
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.Section--subtitle{
    font-size: calc(var(--section-title-size) * .75);
}

@media(max-width: 1000px){
    .Section--title{
        text-align: center;
    }
}

.Fa-icon{
    font-size: 1.65rem;
    padding: .5rem;
    color: var(--fa-icon-clr);
}

.Fa-wrapper-button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.Open-header-button{
    position: fixed;
    left: 5px;
    top: 5px;

}
.Open-header-button .Fa-icon{
    color: var(--prim-txt-clr);
}

.Fa-wrapper-button:hover .Fa-icon{
    color: var(--fa-icon-hover-clr);
}

.Action-button{
    padding: .5rem 1rem;
    letter-spacing: 2px;
    /*display: inline-block;*/
    border-radius: 8px;
    color: var(--third-txt-clr);
    background-color: var(--prim-txt-clr);
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    text-align: center;
    flex-wrap: wrap;
}

.Action-button:hover{
    background-color: var(--fa-icon-clr);
    color: var(--prim-txt-clr);
    border-color: var(--prim-txt-clr);
}

.Theme-switcher{
    position: fixed;
    right: 5px;
    top: 5px;
}

.Theme-switcher .Fa-icon{
    color: var(--prim-txt-clr);
}

/*floating buttons change background on scroll*/

.Scrollable-button{
    animation: scrollableButton linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: 105vh;
}

@keyframes scrollableButton{
    100%{
        background-color: rgba(255, 255, 255, .7);
    }
}